# Python ka Chilla with Sir Ammar
## How to use Jupyter notebook
### Basics of Python
1- My frst program

In [1]:
print(2+3)
print("Hello World")
print("We are learning python with Sir Ammar")

5
Hello World
We are learning python with Sir Ammar

   **02_operators**

In [2]:
print(3-3)
print(2+1)
print(6/2)
print(2*3)
print(13%2)
print(6//2)
print(2**3)

print(3**2/2*3/3+6-4)

0
3
3.0
6
1
3
8
6.5

*PEMDAS*
parenthesis Exponents multiply divide addition subtraction
left to right for m d & a s

   **03_strings**

In [3]:
print("Hello World")
print("We are learning python with Sir Ammar")
print('test for single quotes')
print("test for double quotes")
print('''test for triple quotes''')
print("what's up?")
print("My name is Sana.")

Hello World
We are learning python with Sir Ammar
test for single quotes
test for double quotes
test for triple quotes
what's up?
My name is Sana.

### 04_comments

In [4]:
print("How are you?")    #use these to comment out ctrl+ /
print("We are learning python with Ammar") #print a string
print(2+3)

How are you?
We are learning python with Ammar
5

## 05_Variables

In [6]:
x = 5 #numeric or integer variable
print(x)
y="We are learning python with Ammar"  #string variables
print(y)
x = 15
print(x)
# types of variables / class of variables
type(x)
print(type(x))
print(type(y))
#print_type_class
fruit_basket=8
fruit_basket= 15
print(type(fruit_basket))
print(fruit_basket)

5
We are learning python with Ammar
15
<class 'int'>
<class 'str'>
<class 'int'>
15

### rules to assign a variable
### 1- the variable shpuld contain letter, numbers or underscores
### 2- do not strt with numbers
### 3- spaces are not allowed
### 4- donot use keywords used in functions (break,mean,media,test etc.)
### 5- short and discriptive
### 6- case sensitvity (lower case letters and upper case letters lower case letters should be used)

In [7]:
# fruit_basket="Mangoes"
# print(fruit_basket)
#input function
# fruit_basket=input("what is your favourite fruit? ")
# print(fruit_basket)
#input function of 2nd stage
name= input("what is your name? ")
greetings="Hello"
print(greetings,name)
#another way of stage 2 input function
# name= input ("What is your name? ")
#print("Hello",name)
# 3rd stage of input function
name= input("What is your name? ")
age= input("how old are you? ")
greetings="Hello" 
print(greetings, name, "you are still young")

#input_ammar

what is your name? Sana
Hello Sana
What is your name? Sana
how old are you? 18
Hello Sana you are still young

   **07 Conditional_logics**

### logical operators are either "true or false"or "yes or no or " 0or 1"
### equal to                              == 
### not equal to                        !=
### less than                             <
### greater than                        >
### less than and equal to       <=
### greater than and equal to  >=

In [19]:
# Is 4 equal to 4?
# print(4==4)
# print(4!=4)
# print(5>4)
# print(4<3)
# print(3>=5)
# print(5<=4)

#applicaton of logical operators
# Wali_age=4
# age_at_school=5
# print(Wali_age==age_at_school)

#input function and logical operator
age_at_school=5
Wali_age=input("how old is Wali? ") #input function
Wali_age=int(Wali_age)
print(type(Wali_age))
print(Wali_age==age_at_school) #logicaloperators

#convert input

how old is Wali? 4
<class 'int'>
False

  **08 Type_Conversion**

### x= 10          # integer
### y= 10.2          # float
### z= "Hello"        # string

In [21]:
#implicit type conversion
# y=x*y
# print(x,"type of x is:",type(x))

#explicit type conversion
# age=input("What is your age? ")
#age=int(age)
# print(type(str(age)))

#name
name=input("What is your name? ")
print(name,type(str(name)))

#type_conversion

What is your name? Sana
Sana <class 'str'>

  **If_Else_Elif**

In [22]:
Wali_age= 2
required_age_at_school = 5


#question:Can Wali go to school?
if Wali_age==required_age_at_school:
    print("Congratulations! Wali can join the school")
elif Wali_age > required_age_at_school:
     print("Wali should join higher secondary school")
elif Wali_age <= 2:
     print("you should take care of Wali,he is still a baby!")    
else:
    print("Wali can not go to school")

    #statements clear

you should take care of Wali,he is still a baby!

  **10 Functions**

In [23]:
# define a functions

# def print_codanics():
#     print("We are learning with sir Ammar")
#     print("We are learning with sir Ammar")
#     print("We are learning with sir Ammar")

# print_codanics()

#2
# def print_codanics():
#   text = "We are learning with sir Ammar in codanics youtube channel"
#   print(text)
#   print(text)
#   print(text)

# print_codanics()

# 3 
# def print_codanics(text):
#     print(text)
#     print(text)
#     print(text)

# print_codanics("we are learning python with Ammar Sir in codanics youtube channel")

# defining a function with if, elif and else statements

# def school_calculator(age,text):
#     if age==5:
#          print("Wali can join the school")
#     elif age>5:
#          print("Wali should go to higher school")
#     else:
#          print  ("Wali is still a baby")


# school_calculator(5,"Wali")
   

#defining a function of future 

def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)

future_predicted_age= future_age(18)
print(future_predicted_age)

38

  **11 Loops**

In [24]:
#while and for loops


#while loops
# x=0
# while(x<=5):
#     print(x)
#     x=x+1

    #for loop


# 
# for x in range(4,11):
# print(x)

#array
from logging.config import stopListening


days= ["Mon", "Tue", "Wed","Thu","Fri","Sat","Sun"]

for d in days:
#    if (d=="Fri"):break #loop stops
   if(d=="Fri"):continue #skips
   print(d)

   print(d)

Mon
Mon
Tue
Tue
Wed
Wed
Thu
Thu
Sat
Sat
Sun
Sun

  **12 Import_Libraries**

In [25]:
#if you print the value of pi

import math
print("the value of pi is " , math.pi)

import statistics

x= [150,250,350,450,550]

print(statistics.mean(x))

#numpy,pandas

the value of pi is  3.141592653589793
350

  **13 Trouble_shooting**

In [26]:
# print("we are learning with sir Ammar")

# print(25/0) #runtime error


name ="Ammar"

print("Hello",name)  #symentic error

#trouble shooting is easy

Hello Ammar